<h1>About US</h1>
<p>
	My name is Innocent E. Machuwa and owner of Topi & Barbara Expeditions Tanzania Ltd. I was born on the slopes of Kilimanjaro. I am a child of the mountain and a proud Tanzanian. I and my team work hard to care for the mountain environment and all the beautiful places we bring our guests, so that the country will continue to be an attractive destination for international adventure-seekers and a wonderful place to live for our children and future generations of Tanzanians. Let us share with you our Tanzania for your adventure of a lifetime!
</p>