<h1>Climbe Kilimanjaro</h1>
<p>
Kilimanjaro Expeditions.

At 19,340 feet, Mount Kilimanjaro is the highest mountain in Africa and the tallest free-standing mountain in the world. This dormant volcano is perched alone above the African plains, offering unprecedented, omni-directional views of the Maasai Steppe below. Cherished and revered by local peoples since the beginning of time, the mountain was not seen by Europeans until the 19th century. Early reports of Kilimanjaro inspired great curiosity and also fierce criticism in Europe: Few believed that a mountain so close to the Equator could be snow-capped. The riddle demanded empirical proof, and a race to the summit was on. Yet the immense mountain would not be scaled for another 40 years.

Attempts to reach the summit were thwarted for decades by the extreme altitude, disorienting clouds, hostile weather, and prevailing politics. Eventually, in 1889, two European explorers achieved the goal they had been planning for three years: To stand on the top of Kibo, the highest of Kilimanjaro’s peaks. To their astonishment—and to the dismay of a Euro-centric world—their conquest was diminished by their discovery on the slopes of campsite remnants left by native Chagga tribesmen. Apparently, local mountaineers routinely scaled the highest reaches of the mountain on hunting expeditions. Thus, one of the greatest mysteries to be uncovered by the intrepid foreign explorers was that the whole of Kilimanjaro was already within the realm of the African peoples who grew up in her shadow.

Kilimanjaro continues to attract climbers from all over the world. While the trek to the top is far from routine, modern equipment combined with smart altitude management have made the peak accessible to any physically fit and motivated adventurer. The climb is no less extraordinary than it was 125 years ago: Kilimanjaro offers a spectacular and unique excursion through different ecological and climatic zones, and views of Africa that must be experienced to be appreciated.

Kilimanjaro Climb: Machame Route

Summary

The Machame route starts above the picturesque mountain village of Machame on the south side of Kilimanjaro. After passing through the forest and into the moorland zone, we clamber up and over some rocks and eventually emerge onto the Shira Plateau. We then proceed counter-

clockwise below the southern face of Kibo, climb Lava Tower for magnificent 360 degree vistas, ascend the Great Barranco Wall, a challenging and exhilarating rock scramble, and approach Uhuru Summit from Barafu and the ridge that abuts the Southeast Val

Brief Itinerary

Day 1: Arrive to Moshi or Arusha.

Day 2: Climb begins Machame Gate (6,000’) to Machame Camp (9,950’). 6.6 miles.

Day 3: Machame Camp (9,950’) to Shira Camp (12,620’). 3.5 miles.

Day 4: Shira Camp (12,620’) to Lava Tower Camp (15,230’). 4.4 miles.

Day5: Lava Tower Camp (15,230’) to Karanga Valley Camp (13,250’). 5.9 miles.

Day 6: Karanga Valley Camp (13,250’) to Barafu Camp (15,360’). 2.4 miles.

Day 7: Barafu Camp (15,360’) to Uhuru Peak (19,340’) to Millennium Camp (12,530’). 8.3 miles

Day 8: Millennium Camp (12,530’) to Mweka Gate (5,380’). 8.5 miles. Climb ends.

Includes

* All accommodations and meals for 10 days / 9 nights

* Services of trip leader, climbing guides, and mountain crew

* Kilimanjaro National Park entrance, camping, and rescue

* Transfers to/from Kilimanjaro International Airport and to/from park entrance/exit gates

Does Not Include

Tips and gratuities to leaders, guides, crew, or other staff; additional accommodations and meals made necessary by airline schedule changes, inability to complete the climb, or other factors; pre‐trip expenses such as immunizations, travel insurance, passports, and visas; international airfare; airport departure taxes; and any expenses of a personal nature such as souvenirs and laundry.

Kilimanjaro Climb: Route

Summary

Starting from the drier north side of Kilimanjaro near the Kenya border, the Rongai route is a less traveled trail that allows discriminating trekkers to distance themselves from the busier routes on the lower elevations. The Rongai route offers a variety of fabulous views and vistas that most climbers never get to see, and the possibility of observing wildlife at a safe distance.

The Rongai route passes through lush farmland and pine and cypress forests before ascending into the rainforest where you may see troupes of black and white colobus monkeys. In the higher moorland zone we enjoy views of the Kenyan plains rich with game. The final ascent passes the Hans Meyer Cave and reaches the crater rim at Gillman’s Point before following the rim path to the summit at Uhuru Peak.

Day 1: Climb begins Loitokitok Gate (6,560′) to Simba Camp (8,730′). 4.1 miles.

Day 2: Simba Camp (8,730′) to Kikelewa Camp (12,010′). 7.2 miles.

Day 3: Kikelewa Camp (12,010′) to Mawenzi Tarn Camp (14,150′). 3.2 miles.

Day 4: Mawenzi Tarn Camp (14,150′) to Horombo Camp (12,200′). 5.0 miles.

Day 5: Horombo Camp (12,200′) to School Hut Camp (15,750′). 6.7 miles.

Day 6: School Hut Camp (15,750′) to Uhuru Peak (19,340′) to Horombo Camp (12,200′). 12.9 miles

Day 7: Horombo Camp (12,200′) to Marangu Gate (6,100′) . 13.8 miles. Climb ends.

Lemosho Route

Day 1: Arrival

Day 2: Climb begins Londorossi Gate (6,890’) to Big Tree Camp (8,700’). 3.8 miles.

Day 3: Big Tree Camp (8,700’) to Shira 1 Camp (11,420’). 4.7 miles.

Day 4: Shira 1 Camp (11,420’) to Shira 2 Camp (12,750’). 5.3 miles.

Day 5: Shira 2 Camp (12,750’) to Lava Tower Camp (15,230’). 4.3 miles.

Day 6: Lava Tower Camp (15,230’) to Karanga Valley Camp (13,250’). 5.9 miles.

Day 7: Karanga Valley Camp (13,250’) to Barafu Camp (15,360’). 2.4 miles.

Day 8: Barafu Camp (15,360’) to Uhuru Peak (19,340’) to Millennium Camp (12,530’). 8.3 miles.

Day 9: Millennium Camp (12,530’) to Mweka Gate (5,380’). 8.5 miles. Climb end.
</p>