<div class = "container">
<h1>Safaris</h1>
<h4>1: 6DAYS 5NIGHT’S </h4>
<h4>TARANGIRE, LAKE MANYARA, NGORONGORO CRATER & SERENGETI PARK</h4>
<table class="table">
	<thead>
		<tr>
			<th>Day</th>
			<th>Plan</th>
		</tr>
	</thead>
<tbody>
<tr class = "success">
	<td>Day 1</td>
	<td>
	 Pick up at 9:00am from your Hotel in Arusha and depart for Tarangire National Park, picnic lunch and game drive in Tarangire Park, dinner and overnight, Zion Campsite / Tarangire safari lodge. 
	</td>
</tr>
<tr class = "danger">
	<td>Day 2</td>
	<td> After breakfast depart for Serengeti National Park, en-route game drive, picnic lunch and 
	afternoon a short game drive in Serengeti Park, dinner and overnight, Seronera Campsite / Lodge. 
	</td>
</tr>
<tr class = "info">
	<td>Day 3</td>
	<td>
	 After breakfast full day in Serengeti National Park (early morning, mid and afternoon game drives), all meals and overnight, Seronera Campsite/Lodge. 
	</td>
</tr>
<tr class = "warning">
	<td>Day 4</td>
	<td> Early morning game drive in Serengeti National Park, brunch and depart for Ngorongoro Crater 
	Rim, en-route game drive, dinner and overnight, Simba Campsite /Lodge. 
	</td>
</tr>
<tr class = "ative">
	<td>Day 5</td>
	<td> Early breakfast descend in to the Crater floor for game drive, lunch at hippo pool picnic site, ascend to the rim and depart for Lake Manyara, dinner and overnight, Twiga Campsite / lodge.
	</td>
</tr>
<tr class = "success">
	<td>Day 6</td>
	<td> After breakfast game drive in Lake Manyara National Park, picnic lunch and mid afternoon departure for Arusha or Moshi.End of Services 
	</td>
</tr>
</tbody>
</table>
<strong>Budget camping safaris: Lodge safaris: Price Includes: Vehicle 4wd, fuel, driver cum guide, park fees, camping fees, game drives, table, chairs, cook, and 3 meals whilst on safari, mattress, & tent. Price Excludes: Tips, drinks, sleeping bags & all items of personal nature/use.
</strong>

<h4>2:4DAYS3NIGHT'S</h4>

<h4>SERENGETI PARK AND NGORONGORO CRATER</h4> 
<table class = "table">
	<thead>
		<tr>
			<th>Day</th>
			<th>Plan</th>
		</tr>
	</thead>
<tbody>
	<tr class = "active">
		<td>Day 1</td>
		<td> Pick up at 9:00am from your Hotel in Arusha and depart for Serengeti National Park, en-route game drive, picnic lunch and afternoon a short game drive in Serengeti National Park, dinner and overnight, Seronera Campsite / Lodge .
		</td>
	</tr>
	<tr class = "success">
		<td>Day 2</td>
		<td> After breakfast full day in Serengeti National Park (early morning, mid and afternoon game drives), all meals and overnight, Seronera Campsite / Semi Luxury Lodge. )
		</td>
	</tr>
	<tr class = "info">
		<td>Day 3</td>
		<td> Early morning game drive in Serengeti National Park, branch and depart for Ngorongoro Crater Rim, en-route game drive, dinner and overnight, Simba Campsite / Lodge.
		</td>
	</tr>
	<tr class = "warning">
		<td>Day 4</td>
		<td> After breakfast descend to the Crater floor for game drive, lunch at hippo pool picnic site, ascend to the rim and departure for Arusha and drop off at your hotel Moshi.
		</td>	
	</tr>
</tbody>
</table>
<p><strong>Budget camping safaris: Lodge safaris: Price Includes: Vehicle 4wd, fuel, driver guide, park fees, camping fees, game drives, table, chairs, cook, and 3 meals whilst on safari, mattress, & tent. Price Excludes: Tips, drinks, sleeping bag and all items of personal nature/use
</strong><p>
<h2>3:4DAY’S3NIGHT’S</h2>

<h4>TARANGIRE, NGORONGORO CRATER & SERENGETI PARK</h4>
<table class = "table" >
	<thead>
		<tr>
			<th>Day</th>
			<th>Plan</th>
		</tr>
	</thead>
<tbody>
	<tr class = "active">
		<td>Day 1</td>
		<td> Pick up at 9:00am from your Hotel in Arusha and depart for Tarangire National Park, picnic lunch and game drive in Tarangire National Park, dinner and overnight Zion campsite / Lodge. 
		</td>
	</tr>
	<tr class = "success">
		<td>Day 2</td>
		<td> After breakfast depart for Serengeti National Park, en-route game drive, picnic lunch and afternoon a short game drive in Serengeti National Park, dinner and overnight, Seronera Campsite / Lodge.
		</td>	
	</tr>
	<tr class = "info">
		<td>Day 3</td>
		<td> Early morning game drive in Serengeti National Park, brunch and depart for Ngorongoro Crater Rim, en-route game drive, dinner and overnight, Simba Campsite / Lodge. 
		</td>	
	</tr>
	<tr class = "warning">
		<td>Day 4</td>
		<td> After breakfast descend in to the Crater floor for game drive, lunch at hippo pool picnic site, ascend to the rim and departure for Arusha and drop off at your Arusha hotel.End of Services.
		</td>
	</tr>
</tbody>
</table>

<p><strong>Budget camping safaris: Lodge safaris:Price Includes: Vehicle 4wd, fuel, driver cum guide, park fees, camping fees, game drives, table, chairs, cook, and 3 meals whilst on safari, mattress, & tent. Price Excludes: Tips, drinks, sleeping bags and items of personal nature</strong></p>

<h4>LAKE MANYARA, NGORONGORO CRATER & SERENGETI PARK </h4>
<table class = "table">
	<thead>
		<tr>
			<td>Day</td>
			<td>Plan</td>
		</tr>
	</thead>
	<tbody>
		<tr class = "active">
			<td>Day 1</td>
			<td> Pick up at 9:00am from your Hotel in Arusha and depart for Lake Manyara National Park, picnic lunch and game drive in Lake Manyara National Park, dinner and overnight, Twiga Campsite / Lodge. 
			</td>
		</tr>	
		<tr class = "success">
			<td>Day 2</td>
			<td> After breakfast depart for Serengeti National Park, en-route game drive, picnic lunch and afternoon a short game drive in Serengeti National Park, dinner and overnight, Seronera Campsite / Lodge.
			</td>
		</tr>
		<tr class = "info" >
			<td>Day 3</td>
			<td> Early morning game drive in Serengeti National Park, branch and depart for Ngorongoro Crater Rim, en-route game drive, dinner and overnight, Simba Campsite / Lodge. 
			</td>	
		</tr>
		<tr class = "warning">
			<td>Day 4</td> 
			<td>After breakfast descend in to the Crater floor for game drive, lunch at hippo pool picnic site, ascend to the rim and departure for Arusha and drop off at your Arusha hotel.
			</td>
		</tr>	
	</tbody>
</table>		
<p><strong>Budget camping safaris: Lodge safaris: Price Includes: Vehicle 4wd, fuel, driver cum guide, park fees, camping fees, game drives, table, chairs, cook, and 3 meals whilst on safari, mattress, & tent. Price Excludes: Tips, drinks, sleeping bags and all items of personal nature/use.</strong></p>

<h4>5DAY’S4NIGHT’S</h4>

<h4>LAKE MANYARA, SERENGETI PARK & NGORONGORO CRATER </h4>
<table class = "table">
	<thead>
		<tr>
			<td>Day</td>
			<td>Plan</td>
		</tr>
	<tbody>
		<tr class = "active">
			<td>Day 1</td>
			<td> Pick up at 9:00am from your Hotel in Arusha and depart for Lake Manyara National Park, picnic lunch and game drive in Lake Manyara National Park, dinner and overnight, Jambo Campsite / Lodge. 
			<td>
		</tr>
		<tr class = "success">		
			<td>Day 2</td>
			<td> After breakfast depart for Serengeti National Park, en-route game drive, picnic lunch and afternoon a short game drive in Serengeti Park, dinner and overnight, Seronera Campsite / Lodge.
			</td>
		</tr>
		<tr class = "info">
			<td>Day 3</td>
			<td> After breakfast full day in Serengeti National Park (early morning, mid and afternoon game drives), all meals and overnight, Seronera Campsite / Lodge. 
			</td>
		</tr>
		<tr class = "warning">
			<td>Day 4</td>
			<td> Early morning game drive in Serengeti National Park, branch and depart for Ngorongoro Crater Rim, en-route game drive, dinner and overnight, Simba Campsite / Lodge. 
			<td>
		<tr>
		<tr class ="danger">
			<td>Day 5</td>
			<td> After breakfast descend in to the Crater floor for game drive, lunch at hippo pool picnic site, ascend to the rim and departure for Arusha . 
			</td>
		</tr>
	</tbody>
</table>
			<p><strong>	Budget camping safari: Lodge safaris: Price Includes: Vehicle 4wd, fuel, driver cum guide, park fees, camping fees, game drives, table, chairs, cook, and 3 meals whilst on safari, mattress, pillow & tent. Price Excludes: Tips, drinks, sleeping bags and all items of personal nature/us
			</strong></p>
<h4>7DAY’S6NIGHT’S</h4>

<h4>ARUSHA PARK, TARANGIRE, LAKE MANYARA, NGORONGORO CRATER &SERENGETI PARK </h4>
<table class = "table ">
	<thead>
		<tr>
			<td>Day</td>
			<td>Plan</td>
		</tr>
	</thead>
	<tbody>
		<tr class = "active">
			<td>Day 1</td>
			<td> Pick up at 9:00am from your Hotel in Arusha & depart for Arusha National Park, walking with Armed Ranger, picnic lunch and game drive in Arusha Park, late afternoon drive to your camp, dinner and overnight, Colobus Campsite /Meru view lodge . 
			</td>
		</tr>
		<tr class = "success">
			<td>Day 2</td>
			<td> After breakfast depart for Tarangire National Park, picnic lunch and game drive in Tarangire Park, dinner and overnight, Zion Campsite / Lodge. 
			</td>
		</tr>
		<tr class = "info">
			<td>Day 3</td>
			<td> After breakfast depart for Serengeti National Park, en-route game drive, picnic lunch and afternoon a short game drive in Serengeti Park, dinner and overnight, Seronera Campsite / Lodge.
			</td>
		</tr>
		<tr class = "warning">
			<td>Day 4</td>
			<td> After breakfast full day in Serengeti National Park (early morning, mid and afternoon game drives), all meals and overnight, Seronera Campsite / Lodge.
			</td>
		</tr>
		<tr class = "danger">
			<td>Day 5</td>
			<td> Early morning game drive in Serengeti National Park, brunch and depart for Ngorongoro Crater Rim, en-route game drive, dinner and overnight, Simba Campsite / Lodge. 
			</td>		
		</tr>
		<tr class = "success">
			<td>Day 6</td>
			<td> Early morning descend to the Crater floor for game drive, lunch at hippo pool picnic site, ascend to the rim and depart for Lake Manyara, dinner and overnight, Jambo Campsite / Lodge.
			</td>
		</tr>
		<tr class = "active">

			<td>Day 7</td>
			<td> After breakfast game drive in Lake Manyara National Park, picnic lunch and mid afternoon departure for Arusha End of Services.
			</td>
		</tr>
	</tbody>
</table>
<p><strong>Camping safaris Lodge safaris: Price Includes: Vehicle 4wd, fuel, driver cum guide, park fees, camping fees, game drives, table, chairs, cook, and 3 meals whilst on safari, mattress, & tent. Price Excludes: Tips, drinks, sleeping bags and all items of personal nature</strong>
</p>
<h4>7:2DAY’S1NIGHT’S</h4>

<h4>LAKE MANYARA & NGORONGORO CRATER</h4>
<table class = "table">
	<thead>
		<tr>
			<td>Day</td>
			<td>Plan</td>
		</tr>
	</thead>
	<tbody>
		<tr class = "active">
			<td>Day 1</td>
			<td> Pick up at 9:00am from your Hotel in Arusha then depart for Lake Manyara National Park, picnic lunch and game drive in Lake Manyara National Park, dinner and overnight, Twiga Campsite/ Lodge. 
			</td>
		</tr>
		<tr class = "success">
			<td>Day 2</td>
			<td> Early breakfast and depart for Ngorongoro Crater and descend down the Crater floor for a game drive, lunch at hippo pool picnic site, ascend to the rim and drive back to Arusha or Moshi. 
			</td>
		</tr>
	</tbody>
</table>
<p><strong>Budget camping safaris: Lodge safaris: Price Includes: Vehicle 4wd, fuel, driver cum guide, park fees, camping fees, game drives, table, chairs, cook, and 3 meals whilst on safari, mattress, pillow & tent. Price Excludes: Tips, drinks, sleeping bags and all items of personal nature.</strong></p>

<p><strong>THE PRICE INCLUDES: All park entry fees, accommodation in hut, 3x meals a day, all transfer TO & FROM gate, porters& guide and rescue fees. NOTE: Tip to the guide and porter, drinking water is not included.
</strong></p>
</div>
